<h1>Edit Message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.conversation_message_path(@conn, :update, @conversation_id, @message)) %>

<span><%= link "Back", to: Routes.conversation_message_path(@conn, :index, @conversation_id) %></span>
