<h1>New Message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.conversation_message_path(@conn, :create, @conversation_id)) %>

<span><%= link "Back", to: Routes.conversation_message_path(@conn, :index, @conversation_id) %></span>
