<h1>New Message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.contact_message_path(@conn, :create, @contact_id)) %>

<span><%= link "Back", to: Routes.contact_message_path(@conn, :index, @contact_id) %></span>
