<h1>Edit Contact</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.conversation_contact_path(@conn, :update, @conversation_id, @contact)) %>

<span><%= link "Back", to: Routes.conversation_contact_path(@conn, :index, @conversation_id) %></span>
