<h1>Show Contact</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @contact.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @contact.email %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @contact.phone %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.conversation_contact_path(@conn, :edit, @conversation_id, @contact) %></span>
<span><%= link "Back", to: Routes.conversation_contact_path(@conn, :index, @conversation_id) %></span>
